.board {
  width: 25vw;
  height: 50vh;
  background-color: rgb(26, 26, 255);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
}

.Boards-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.board-add-button {
  color: blue;
  margin: 10px;
  padding: 10px;
  font-size: large;
  cursor: pointer;
}

.button-to-see-tasks {
    color: blue;
  margin: 10px;
  padding: 10px;
  font-size: large;
  cursor: pointer;
}